<p>footer works!</p>
<ul class="footer-links">
    <li><a href='mainpage'>Site Name</a></li>
    <li><a href='mainpage'>Topic</a></li>
    <li><a href='mainpage'>Topic</a></li>
    <li><a href='mainpage'>Topic</a></li>
    <li><a href='mainpage'>Page</a></li>
    <li><a href='mainpage'>Page</a></li>
    <li><a href='mainpage'>Page</a></li>
    <li><a href='mainpage'>Page</a></li>
    <li><a href='mainpage'>Page</a></li>
    <li><a href='mainpage'>Page</a></li>
    <li><a href='mainpage'>Page</a></li>
    <li><a href='mainpage'>Page</a></li>
    <li><a href='mainpage'>Page</a></li>
</ul>