
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


body {
    background-color: #EAEAEA;
  }
  

  .container {
    max-width: 1000px; 
    margin: 20px auto; 
    padding: 0 20px; 
    margin-top: 20px;
  }

  header {
    margin-bottom: 40px; 
  }

  .intro-box {
    background-color: #D9D9D9;
    color: #03008E;
    margin-top: 20px; 
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px; 
    width: 100%; 
    text-align: center; 
    
  }
  
  .intro-box p {
    text-align: center; 
    color: #03008E; 
    font-family: 'Inter', sans-serif; 
    font-weight: 600; 
    font-size: 18px; 
    
  }
  

  .search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; 
    width: 100%; 
  }
  
  .search-bar input[type="text"] {
    padding: 15px; 
    border-radius: 5px;
    border: 1px solid #ccc;
    width: calc(100% - 100px); 
    max-width: 600px;
    margin-right: 10px;
  }
  
  .search-bar button {
    padding: 15px 20px; 
    background-color: #03008E;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .search-bar button:hover {
    background-color: #001F6D;
  }
  

  .recommended-box {
    background-color: #D9D9D9;
    color: #000001;
    padding: 20px;
    border-radius: 8px;
    width: 100%; 
    text-align: center; 
  }
  
  .recommended-box h2 {
    font-family: 'Inter', sans-serif; 
    font-size: 24px;
    font-weight: bold;
    text-align: center; 
  }
  
  .recommended-box .recommendation-text {
    margin-top: 10px;
    font-family: 'Inter', sans-serif; 
    font-size: 16px;
    text-align: center; 
  }
  
  
  .recommendation-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    margin-top: 20px;
  }
  
  .card {
    background-color: #fff;
    color: #000000;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    width: calc(50% - 10px); 
    text-align: left;
  }
  
  .card h3 {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: bold;
  }
  
  .card p {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    margin: 10px 0;
  }

  .card:hover {
    transform: translateY(-10px); 
    box-shadow: 0 8px 16px rgb(164, 201, 222); 
  }

  .connect-button {
    background-color: #03008E;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .connect-button:hover {
    background-color: hsl(222, 10%, 62%); 
  }
  

  .discussion-box {
    background-color: #D9D9D9;
    color: #000000;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    margin-top: 20px; 
    width: 100%; 
    font-family: 'Inter', sans-serif; 
    font-size: 18px; 
    font-weight: 600;
  }
  
  .discussion-button {
    background-color: #03008E;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .discussion-button:hover {
    background-color: #9b9b9b; 
  }

  .centered-text {
    text-align: center; 
    color: #03008E; 
    font-family: 'Inter', sans-serif; 
    font-weight: 600; 
    font-size: 18px; 
    margin: 50px 0; 
  }
  