<!-- https://www.youtube.com/watch?v=t7eHSAXW718 -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <app-header></app-header>
    <div class="content">
      <!-- <div class="topic-statistics">
        <h2>Student Analysis</h2>
        <div class="dashed-line"></div>
      </div>
      <div class="topiccontent">
        <div class="topic_title">
          <h3>Memory Management</h3>
        </div>
        <div class="right">
          <div class="right-hand-tabs">
            <p class="container">Timetable</p>
          </div>
        </div>
      </div> -->

      <div class="topic-statistics">
        <h2>Student Analysis</h2>
        <div class="dashed-line"></div>
      </div>  
      <div class="topics">
        <div class="right-wrapper">
          <p class="percentage-text g">Content understanding: 89%</p>
          
          <button class="access-button">
            
            <a href="accessFeedback" class="detailed-feedback"> Detailed Feedback </a>
          </button>
  

        </div>
        <p>{{ topic }}</p>
      </div>
      <div class="line"></div>
      <div class="topics">
        <div class="right-wrapper">
          <p class="percentage-text o">Content understanding: 70%</p>
          
          <button class="access-button">
            
            <a href="accessFeedback" class="detailed-feedback"> Detailed Feedback </a>
          </button>
  

        </div>
        <p>TLB</p>
      </div>
      <div class="line"></div>
      <div class="topics">
        <div class="right-wrapper">
          <p class="percentage-text g">Content understanding: 90%</p>
          
          <button class="access-button">
            
            <a href="accessFeedback" class="detailed-feedback"> Detailed Feedback </a>
          </button>
  

        </div>
        <p>MultiProgramming</p>
      </div>
    </div>
    
    <!-- <h3>Individual Student Performance</h3>
    <div class="dashed-line"></div> -->

    <app-footer></app-footer>
  </body>
</html>
