<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <app-header></app-header>
    <div class="topic-statistics">
    <h3>Understanding Statistics</h3>
        <div class="dashed-line"></div>
    </div>

    <h3>Individual Student Performance</h3>
    <div class="dashed-line"></div>
    <div class="topics">
        <div class="right-wrapper access-button">
            
        <button class=""> Access Feedback</button>

        </div>
        <p>{{topic}}</p>
    </div>
    <app-footer></app-footer>
</body>
</html>