*{
    font-family: Arial, Helvetica, sans-serif;
}
.content{
    padding: 20px;
}
.dashed-line{
    border: 1px solid black;
    width: 100%;
    height: 0 px;
}
.right-wrapper{
    display: flex;
    text-align: right;

}
.topics{
    display: flex;
    padding: 10px;
}

.line{
    width: 99%;
    border: 0.1px solid rgb(120, 120, 120);
    display: block;
    margin: auto;

}
.access-button{
    position: absolute;
    right: 50px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to bottom,#1212c1,#03008E);
    padding: 10px;
    justify-content: center;
    cursor: pointer;
}
.detailed-feedback{
    color: white;
    text-decoration: none;
    
}

.outer{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid red;
    box-shadow: 6px 6px 10px -1px rgba(255,255,255,0.7);
    padding: 50%;
}

.inner{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 1px solid red;
}

.container{
    text-align: right;
    align-items: center;
    padding-right: 30px;
    justify-content: center;
    /* margin-right: 100px; */
}
.right-hand-tabs{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    float:right;
}

.percentage-text{
   position: absolute;
   right: 240px;
   justify-content: center;
   justify-items: center;
   align-items: center;
   font:bold;
   
}

.o{
    color: rgb(255, 98, 0);
}

.g{
    color: green;
}
.box .percent{
    
}
.box .percent svg{
    position: relative;

}

.box .percent svg circle{
    position: relative;
    width: 20px;
    height: 20px;
    fill:none;
    stroke-width: 5px;
    align-items: center;
    justify-content: center;
    stroke: black;
    transform: translate(5px,5px);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    stroke-linecap: round;

}

.box .percent svg circle:nth-child(1){
    stroke-dashoffset: 0;
    stroke: #f3f3f3;
}

.box .percent svg circle:nth-child(2){

    stroke-dashoffset: calc(440 - ((440 * 87) / 100));
    stroke: #03a9f4;

}

.box .percent .number{
    position: absolute;
    top:0;
    left:0;
    display: flex;
    justify-content: right;
    align-items: right;
}

.box .percent .number h2{
    font-size: 16px;
}

.topiccontent{
    display: flex;
    padding: 20px;
}

