<!-- https://www.youtube.com/watch?v=Qez8SoJ_aso -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <app-header></app-header>
    <div class="pdf-box">
        <br>
      <pdf-viewer
        src="../../assets/Week 6 2024_Wk6_Intro_OSI.pdf"
        class="pdf-view"
        [show-borders]="true"
        [original-size]="false"
        [autoresize]="true"
        ></pdf-viewer>
        <div class="button">
            <p>{{uploadMessage}}</p>
            <button class="upload-button" (click)="CompleteUpload()">
                <div class="upload-text">
                    {{upload_text}}
                </div></button>
        </div>
    </div>
    <div class="left-scroll">
      <div class="content">
        <h1 class="font">Summary</h1>
        <textarea
          class="summary-box"
          id="summary-box"
          name="summary"
          placeholder="Summary"
          [(ngModel)]="summary"
          required
        >
        </textarea>
        <h1 class="font">Questions</h1>

        <div class="question">
          <div *ngFor="let question of questions" class="subject-item">
            <div class="q-wrapper">
              <h3 class="font">Question:</h3>
              <textarea name="" id="" class="edit-box question">
                              {{question.question}}
                          </textarea
              >
            </div>
            <div class="q-wrapper">
              <h3 class="font">Answer:</h3>
              <textarea name="" id="" class="edit-box answer">
                          {{ question.answer }}
                      </textarea
              >
            </div>
          </div>
        </div>
      </div>
    </div>
   

    <app-footer></app-footer>
  </body>
</html>
