<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <app-header></app-header>
    <div class="pdf-box">
        <br>
      <pdf-viewer
        src="../../assets/Week 6 2024_Wk6_Intro_OSI.pdf"
        class="pdf-view"
        [show-borders]="true"
        [original-size]="false"
        [autoresize]="true"
        ></pdf-viewer>
    </div>
    <div class="left-scroll">
      <div class="content">
        <h1>Summary</h1>
        <textarea
          class="summary-box"
          id="summary-box"
          name="summary"
          placeholder="Summary"
          [(ngModel)]="summary"
          required
        >
        </textarea>
        <h1>Questions</h1>

        <div class="question">
          <div *ngFor="let question of questions" class="subject-item">
            <div class="q-wrapper">
              <h3>Question:</h3>
              <textarea name="" id="" class="edit-box">
                              {{ question.question }}
                          </textarea
              >
            </div>
            <div class="q-wrapper">
              <h3>Answer:</h3>
              <textarea name="" id="" class="edit-box">
                          {{ question.answer }}
                      </textarea
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
        let sidebar = document.getElementsByClassName("sidebar")[0];
        let sidebar_content = document.getElementsByClassName("content")[0];

        window.onscroll = () =>{
            let scrollTop = window.scrollY;
            let viewportHeight = window.innerHeight;
            let contentHeight = sidebar_content.getBoundingClientRect().height;

            if(scrollTop >= contentHeight - viewportHeight){
                sidebar_content.style.position = "fixed";

            }
            else{
                sidebar_content.style.position = "";
            }
        }
    </script>

    <!-- <div *ngFor="let subject of subjects" class="subject-item">
      <a href="teacherSubject">
        <li>    

        </li>
      </a>
    </div>   -->

    <app-footer></app-footer>
  </body>
</html>
