<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <app-header></app-header>
    <div class="content">
        <h1>Summary</h1>
        <input
        class="summary-box"
        id="summary-box"
        name="summary"
        placeholder="Summary"
        [(ngModel)]="summary"
        required
      />
    </div >
        
    <app-footer></app-footer>
</body>
</html>