<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="subject-list">
    <div class="subject-heading">
      <h2>Subjects</h2>
    </div>
    <hr class="divider">
    <a href="teacherSubject" class="subject-item">
      <h3>Comp30023: Computer Systems</h3>
    </a>
    <a href="studentSubject" class="subject-item">
      <h3>Comp10002: Foudations of Algorithms</h3>
    </a>
  </div>
  
</body>
</html>
