<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="header-links">

        <h2 class="teach-assist">TeachAssist</h2>
            
        <div class="right-hand-tabs">
            <h2 class="container">Timetable</h2>
            <h2 class="container">Mentoring</h2>
            <h2 class="container">Feedback</h2>
            <h2 class="container">Profile</h2>
        
        </div>
        
    </div>
    
    
</body>
