


.header-links{
    background: linear-gradient(to bottom,#1212c1,#03008E);
    border-top: 1.5px solid #8c8b99;
    color : aliceblue;
    display: flex;
    width: 100%;
}

.teach-assist{
    /* margin-right : 50vw; */
}
.container{
    text-align: right;
    align-items: center;
    padding-right: 30px;
    justify-content: center;
    /* margin-right: 100px; */
}
.right-hand-tabs{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    float:right;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

.logo{
    height: 25px;
    padding-left: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 5%;

}