<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="header-links">

        <!-- <h2 class="teach-assist">TeachAssist</h2> -->
        <img src="../../assets/logo-white.png" class="logo">    
        <div class="right-hand-tabs">
            <p class="container">Timetable</p>
            <p class="container">Mentoring</p>
            <p class="container">Feedback</p>
            <p class="container">Profile</p>
        
        </div>
        
    </div>
    
    
</body>
