<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <app-header></app-header>
    <div class="main-content">
      <div class="view_student_progress-box">
        
        <a href="studentProgress" class="student-progress-link">
          <p>View Student Progress</p>
        </a>

      </div>
      <div class="upload_content-box">
        <a href="upload">
          <p>Upload Content</p>
        </a>
      </div>
    </div>
    <app-footer></app-footer>
  </body>
</html>
