<!-- https://www.youtube.com/watch?v=wRP-VVdGswU -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF to Text Extractor</title>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/4.4.168/pdf.min.mjs"></script>
</head>
<body>
    <div class="pdfwork">
        <h1>pdf text extraxter</h1>
        <span>Select PDF</span>
        <input type="file" class="selectpdf">
        <button>Upload</button>
        <div class="afterupload">
            <span> Select Page </span>
            <select class="select-page"></select>
            <a href="" class="download" download=""> Download pdf Text</a>
            <textarea class="pdftext"></textarea>
            <p>{{test}}</p>
        </div>
    </div>
    
</body>
</html>