<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<app-header></app-header>

<body>
    <div class="center">
        <h2> Summary </h2>
        <pre>{{summary}}</pre>
        <div class="question">
            
        </div>
        <div class="answer">
    
        </div>
        <div class="general-feedback">
    
    </div>
    
    </div>
    <app-footer></app-footer>
</body>
</html>