body, html {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, sans-serif;
}

ol {
    list-style-position: inside;
    font-size: 37px; /* Increase font size of the ordered list */
    margin-right: 200px;
}
li {
    margin: 0; /* Ensure no extra spacing between list items */
    padding: 5px 0; /* Add padding for visual separation */
}
button {
    display: inline-block;
    padding: 10px;

    margin-left: 70px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to bottom,#1212c1,#03008E);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #45a049;
}

.center-content{
    align-items: center;
    text-align: center;
    color: rgb(91, 91, 91);
    justify-content: center;
}

.file-box{
    width :80%;
    color : rgb(109, 109, 109)
}

.Upload{
    text-decoration: none;
    color: white
}
.choose-file{

}
.choose-file::after{

}

.upload-button{
    
}