<app-header></app-header>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="center-content">
        <h1><u><b>Steps to Follow</b></u></h1>
        <ol>
            <li>Enter the corresponding data file<button onclick="alert('Button clicked!')">Click Me</button> </li>
            <li>Generate the required content <button onclick="alert('Button clicked!')">Click Me</button> </li>
            <li>Edit content if required <button onclick="alert('Button clicked!')">Click Me</button>  </li>
            <li>Proceed to final review <button onclick="alert('Button clicked!')">Click Me</button></li>
            <li>Upload for student access <button onclick="alert('Button clicked!')">Click Me</button></li>
        </ol>
    </div>





</body>
<app-footer></app-footer>


