<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <app-header></app-header>

    <div class="content">
        <div class="summary">
            <h2>Summary</h2>
            <br><br>
            <pre>{{Summary}}</pre>
  
        </div>
          
        <div class="question">
            <h3>Question 1:</h3>
            <br>
            <p>{{question.question}}</p>
        </div>
        <div class="answer">
            <div class="text">
                <textarea name="" id="" class="text-area"></textarea>
            </div>
        </div>
        <div class="button-flex">
            <div class="buttons">
                <button class="each-button" (click)="DisplayFeedback()">
                    View Feedback
                </button>
                
            </div>
            <div class="buttons">
                <button class="each-button">
                    Next Question
                </button>
            </div>
        </div>
        <br><br>
        <div *ngIf="display_feedback">
            <div class="feedback-box" >
                <h3> Feedback </h3>
                <!-- <div class="score">
                    <p>calculated score: 70%</p>
                </div> -->
                <div  class="feedback">
                    <br>
                    <p>{{feedback}}</p>
                </div>
                <br><br>
                <div class="score">
                    <p>calculated score: 70%</p>
                </div>
            </div>
          
        </div>
        
    </div>

    <!-- <h2>Climate Change</h2>
    <p>The climate of the Earth has changed significantly over time. While some of these changes were brought on by natural events like volcanic eruptions, floods, forest fires, etc., many of the changes were brought on by human activity. The burning of fossil fuels, domesticating livestock, and other human activities produce a significant quantity of greenhouse gases. This results in an increase of greenhouse effect and global warming which are the major causes for climate change.</p>
    <h2>Reasons of climate change</h2>
        <ol>
            <li>Deforestation</li>
            <li>Excessive use of fossil fuels</li>
            <li>Water and soil pollution</li>
            <li>Plastic and other non biodegradable waste</li>
            <li>Wildlife and nature extinction</li>
        </ol>
        
    <h2>Consequences of Climate Change</h2>
    <p>All kinds of life on earth will be affected by climate change if it continues to change at the same pace. The earth's temperature will increase, the monsoon patterns will shift, the sea level will rise, and there will be more frequent storms, volcano eruptions, and other natural calamities. The earth's biological and ecological equilibrium will be disturbed. Humans won't be able to access clean water or air to breathe when the environment becomes contaminated. The end of life on this earth is imminent. To reduce the issue of climate change, we need to bring social awareness along with strict measures to protect and preserve the natural environment. </p>
    <h2>PRACTICE QUESTIONS</h2>
    <p>State one cause of climate change?</p>
    <form action="#" method="post">
        <label for="textbox"></label>
        <input type="text" id="textbox" name="textbox" placeholder="Type here">
        <input type="button" value="Submit">
    </form>
    <div>
        <button onclick="alert('Button clicked!')">Feedback</button>
        <button onclick="alert('Button clicked!')">Next question</button>
    </div> -->
    <app-footer></app-footer>

</body>


