<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="studentTeacherTab.js" defer></script>
    <title>Document</title>
</head>
<body>
    <div class="outer-padding"></div>
<div class="login-box">
    <h2 class="login-text">TeachAssist</h2>
    <div class = "student-teacher-tab">
        <div>
            <input type="radio" class="tabs__radio" name="tabs-example" id="studenttab" checked>
            <label for="studenttab" class="tabs__label">Student</label>
        </div>
        <div>
            <input type="radio" class="tabs__radio" name="tabs-example" id="teachertab">
            <label for="teachertab" class="tabs__label">Teacher</label>
        </div>
        
    </div>
    
    <h1 class="login-text">Login</h1>
    <p class="login-text">Enter your student/Teacher email</p>
    <input class="input-box" placeholder="Username" required>
    <br>
    <input class="input-box" type="password" placeholder="Password" required>
    <br>
    <br>
    <a class="signin-text" href="mainpage">
    <div >
        <button class="signin-button">
                Sign in
        </button>   
    </div>
</a>
    <br>
    <p class="google-additional-text">or continue with</p>
    <a href="#">
    <div class="google-button-box">
        
                <div class="content-wrapper">
                    <img class="logo-wrapper" src="https://developers.google.com/identity/images/g-logo.png">

                    
                    <span class=".google-text">
                        Google
                    </span>

                </div>
            
    </div>
    </a>

    <p class="google-additional-text">By clicking continue, you agree to our Terms of Service and Privacy Policy</p>
    </div>
</body>
</html>
